#To ignore all Intellij related configurations files
.idea/
*.iml

#To ignore maven clean install target folder
target/

#to ignore any logs files
*.logs

#To ignore files related to OS
.DS_Store
Thumbs.db

#To ignore all VS Code related configurations files
.vscode/

#To Ignore evnironment related files
.env

